@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '@fontsource/fira-mono';

@layer base {
	:root {
	  --background: 0 0% 100%;
	  --foreground: 224 71.4% 4.1%;
	  --card: 0 0% 100%;
	  --card-foreground: 224 71.4% 4.1%;
	  --popover: 0 0% 100%;
	  --popover-foreground: 224 71.4% 4.1%;
	  --primary: 262.1 83.3% 57.8%;
	  --primary-foreground: 210 20% 98%;
	  --secondary: 220 14.3% 95.9%;
	  --secondary-foreground: 220.9 39.3% 11%;
	  --muted: 220 14.3% 95.9%;
	  --muted-foreground: 220 8.9% 46.1%;
	  --accent: 220 14.3% 95.9%;
	  --accent-foreground: 220.9 39.3% 11%;
	  --destructive: 0 72.22% 50.59%;
	  --destructive-foreground: 210 20% 98%;
	  --border: 220 13% 91%;
	  --input: 220 13% 91%;
	  --ring: 262.1 83.3% 57.8%;
	  --radius: 0.5rem;
	}
	.dark {
	  --background: 224 71.4% 4.1%;
	  --foreground: 210 20% 98%;
	  --card: 224 71.4% 4.1%;
	  --card-foreground: 210 20% 98%;
	  --popover: 224 71.4% 4.1%;
	  --popover-foreground: 210 20% 98%;
	  --primary: 263.4 70% 50.4%;
	  --primary-foreground: 210 20% 98%;
	  --secondary: 215 27.9% 16.9%;
	  --secondary-foreground: 210 20% 98%;
	  --muted: 215 27.9% 16.9%;
	  --muted-foreground: 217.9 10.6% 64.9%;
	  --accent: 215 27.9% 16.9%;
	  --accent-foreground: 210 20% 98%;
	  --destructive: 0 62.8% 30.6%;
	  --destructive-foreground: 210 20% 98%;
	  --border: 215 27.9% 16.9%;
	  --input: 215 27.9% 16.9%;
	  --ring: 263.4 70% 50.4%;
	}
  }

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image:
		radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
